* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@font-face {
    font-family: 'UTM-Avo';
    src: url('fonts/UTM_AVO_REGULAR.eot');
    src: url('fonts/UTM_AVO_REGULAR.TTF') format('truetype'),
         url('fonts/UTM_AVO_REGULAR.otf'),
         url('fonts/UTM_AVO_REGULAR.woff') format('woff'),
         url('fonts/UTM_AVO_REGULAR.svg#UTM_AVO_REGULAR') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM-Avo-Bold';
    src: url('fonts/UTM_AVO_BOLD.eot');
    src: url('fonts/UTM_AVO_BOLD.TTF') format('truetype'),
         url('fonts/UTM_AVO_BOLD.otf'),
         url('fonts/UTM_AVO_BOLD.woff') format('woff'),
         url('fonts/UTM_AVO_BOLD.svg#UTM_AVO_BOLD') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
    font-family: 'UTM-Avo';
    font-size: 14px;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th,
td {
    font-weight: normal;
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}
a {
    text-decoration: none;
}
a:hover {
    color: #ccc;
}

.clearfix:after {
    clear: both;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
ul li {
    list-style: none;
}
html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-family: Arial;
    font-size: 14px;
    margin: 0 auto;
    height: 100%;
}
#container {
    min-width: 1044px;
}
#header {
    min-height: 135px;
    background: #38414A;
}
#main {
    margin-bottom: 50px;
    height: auto;
    background: #F2F2F2;
}
#content {
    min-height: 400px;
    padding: 10px 0px;
}
#footer{
    background: #000;
    color: #fff;
    line-height: 50px;
    margin-top: -50px;
    min-height: 50px;
}
#footer a{
    color: #fff;
}
#header .line {
    background: url('images/line.png') top left repeat-x;
    height: 22px;
    border-bottom: 1px solid #5E656D;
}
#header .head {
    border-bottom: 1px solid #5E656D;
    min-height: 78px;
}
#header .logo {
    margin-top: 5px;
    margin-bottom: 3px;
}
#header h3 {
    font-family: 'UTM-Avo';
    font-weight: normal;
    font-size: 12px;
    color: #fff;
}
.box_menu {
    min-height: 31px;
    padding: 10px 0px;
    border-top: 1px solid #A1A6AA;
    border-bottom: 1px solid #B8B8B8;
}
.box_size {
    margin: 0 auto;
    /*max-width: 1044px;*/
    /*width: 100%;*/
    width: 1044px;
}
ul#menu {
    width: 57%;
    padding-left: 15px;
    padding-top: 5px;
}
ul#menu li{
    display: inline-block;
    padding-right: 20px;
}
ul#menu li a {
    font-family: 'UTM-Avo';
    color: #000;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}

.search-layout {
    width: 42%;
    position: relative;
}
.search-layout input[type="text"] {
    padding: 2px 10px 3px 10px;
    width: 100%;
    border: 1px solid #9F9F9F;
    font-family: 'UTM-Avo-Bold';
    font-size: 13px;
    color: #38414a;
}
table.customer {

}
table.customer td{
    vertical-align: middle;
}
table.customer td a {
    color: #fff;
    font-family: 'UTM-Avo';
    font-size: 13px;
}
table.customer td a.sign_in {
    color: #f06e5f;
}
.gallery {
    width: 71%;
}
.content_single {
    width: 69%;
}
.widget_single {
    width: 29%;
}
.widget_content {
    width: 29%;
}
.widget_content .widget_box , .widget_single .widget_box{
    min-height: 100px;
}
.widget {
    border: 1px solid #C0C0C0;
    background: #fff;
    margin-bottom: 20px;
}
.widget_FacebookLikeBox {
    border: none !important;
    text-align: center;
}
.btn_search {
    position: absolute;
    top: 5px;
    right: 8px;
}
.box_image {
    padding: 5px;
    margin-right: 10px; 
    margin-bottom: 10px; 
    background: #fff;
    width: 235px; 
    height: 230px; 
    border: 1px solid #C3C3C3;
}
.box_image img:hover {
    opacity: 0.5;
}
.box_image .info_left {
    width: 69%;
    float: left;
    font-family: 'UTM-Avo';
    color: #878787;
    font-size: 12px;    
}
.box_image .info_right {
    width: 31%;    
    float: right;
}
.box_image .cat_title {
    margin: 10px 0px;
}
.box_image .cat_title a{
    text-transform: uppercase;
    color: #007ffe;
    font-family: 'UTM-Avo';
    font-size: 16px;
    text-shadow: 0px 0px 1px #CCC;
}
.box_image .cat_title a:hover {
    text-decoration: underline;
}
.image_detail {
    background: #fff;
    border: 1px solid #DEDEDE;
    padding: 12px 13px;
}
.image_detail img {
    max-width: 694px;
}
.content_single .line {
    height: 1px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #CFCFCF;
}
.banner {
    margin-bottom: 30px;
}
.banner .social {
    width: 30%;
}
.banner .ads {
    width: 70%;
    border: 1px solid #CCC;
    min-height: 100px;
}
.banner .social ul li {
    float: left;
    margin-right: 10px;

}
.banner .social ul li p {
    text-align: center;
}
.group_relate {
    margin-top: 20px;
}
.wp_rp_wrap .related_post_title {
    margin-bottom: 20px !important;
}
.wp_rp_vertical ul.related_post li img{
    width: 221px !important;
    height: 156px !important;
}
.wp_rp_vertical ul.related_post li.last {
    margin-right: 0px !important;
}
.wp_rp_vertical ul.related_post li img:hover {
    opacity: 0.5;
}
.wp_rp_vertical ul.related_post li {
    padding: 5px !important;
    background: #fff;
    border: 1px solid #C3C3C3;
    float: left;
    width: 233px !important;
    height: 168px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
}
.wp_rp_vertical ul.related_post li:hover {
    border: 1px solid #38414A;
}
ul.related_post .wp_rp_title {
    display: none !important;
}
.nav_single {
    background: url('images/bg_nav.png') repeat-x;
    border: 1px solid #D7D7D7;
    height: 46px;
    line-height: 46px;
    margin-bottom: 12px;
}
.nav_single .lbNav, .nav_single a {
    font-family: Arial;    
    font-size: 19px;
}
.nav_single .lbNav {
    color: #38414a;
    font-weight: 700;
    margin-left: 10px;
}
.nav_single a {
    color: #0080ff;
    text-shadow: 0px 0px 1px #CCC;
}
.single-tag {
    color: #527ca5;
    font-size: 16px;
}
.single-tag a {
    color: #527ca5;
    font-weight: normal;
}
.single-option {
    margin-top: 20px;
    margin-bottom: 10px;
}
.single-option .resolution {
    margin-top: 10px;
    padding: 2px 0px 2px 5px;
    width: 100%;
}
.single-option .show-info1 {
    font-size: 15px;
    font-weight: bold;
}
.single-option .show-info2 a{
    font-size: 15px;
    color: #527ca5;
}
.single-option .downloads {
    font-family: Arial; 
    font-size: 27px; 
    color: #527ca5;
    display: block;
    margin-top: 10px;
}
.tag-title {
    color: #1f1f1f;
    font-size: 16px;
    font-weight: bold;
}

/* Sidebar */
.widget-area .widget {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
    word-wrap: break-word;
}
.widget-area .widget h3 {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
.widget-area .widget p {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.widget-area .textwidget ul {
    list-style: disc outside;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
}
.widget-area .textwidget li {
    margin-left: 36px;
    margin-left: 2.571428571rem;
}
.widget-area .widget a {
    color: #757575;
}
.widget-area .widget a:hover {
    color: #21759b;
}
.widget-area .widget a:visited {
    color: #9f9f9f;
}
.widget-area #s {
    width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}
.page-header {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
}
span.wpcf7-not-valid-tip {
    top: 0px;
    left: auto;
    border: none;
    color: red;
    background: none;
    padding-left: 10px;
}
div.wpcf7-validation-errors {
    border: 1px solid #FFB33B;
    background: #FFFBCC;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border: 5px;
    border-radius: 5px;
}
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
    padding: 5px 5px;
    margin-top: 5px;
    border: 1px solid #333;
    -moz-border-radius: 5px;
    -webkit-border: 5px;
    border-radius: 5px;
    font-size: 14px;
}
.wpcf7 input[type="submit"], 
a.post-edit-link, 
.no-results .entry-content div input[type="submit"] {
    padding: 7px 20px;
    font-family:Arial, helvetica, sans-serif; 
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    font-weight:bold;
    color: #FFF;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border: 3px;
    border-radius: 3px;    
    border:1px solid #25729a;
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}
.wpcf7 input[type="submit"]:hover, 
a.post-edit-link:hover, 
.no-results .entry-content div input[type="submit"]:hover {
    border:1px solid #1c5675;
    background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.wpcf7 p {
    color: #333;
    margin-bottom: 15px;
}
h1.entry-title {
    margin: 20px 0px;
    font-size: 20px;
    color: #333;
}
.no-results .entry-content div {
    margin-top: 20px;
}
.no-results .entry-content div input[type="text"] {
    border: 1px solid #9F9F9F;
    color: #38414A;
    font-family: 'UTM-Avo-Bold';
    font-size: 13px;
    padding: 4px 10px 5px 10px;
    width: 50%;
}
.widget_tag_cloud {
    padding: 10px;
}
.summary-page {
    width: 120px;
    float: left;
    font-family: Arial;
    background: url(images/summary-page.png) no-repeat;
}
.summary-page h3 {
    font-size: 17px; 
    font-weight: bold;
    margin-bottom: -3px;
}
.summary-page span {
    font-size: 10px;
    color: #727272;
}
.summary-left {
    width: 45%; 
    padding: 19px 0px 19px 10px;
    float: left;
}
.summary-right {
    width: 55%; 
    padding: 19px 0px 19px 10px;
    float: left;
}
.nav-page {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
.wp-pagenavi .current {
    background: #62ACC9;
    font-family: 'UTM-Avo';
    font-size: 14px;
    border: none;
    color: #fff;
}
.wp-pagenavi a.page {
    font-family: 'UTM-Avo';
    font-size: 14px;
    border: none;
    color: #1a83ac;
}
.wp-pagenavi a.nextpostslink, 
.wp-pagenavi a.previouspostslink,
.wp-pagenavi .extend ,
.wp-pagenavi a.last, 
.wp-pagenavi a.first { 
    border: none;
    color: #1a83ac;
}
.wp-pagenavi a, .wp-pagenavi span {
    padding: 0px 8px !important;
    margin-right: 20px !important;
}
.wp-pagenavi {
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
}
.page-area {
    margin-top: 15px;
}
.arpw_widget ul{
    padding: 20px 10px 0px 10px;
}
.arpw_widget .widget-title {
    background: url('images/bg_random.png') repeat-x;
    border-bottom: 1px solid #D8D8D8;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #38414a;
}
.arpw_widget .arpw-first {
    float: left;
    border-bottom: none;
    padding-left: 10px;
}
.arpw_widget .arpw-last {
    float: right;
    border-bottom: none;
}
.arpw_widget h3.arpw-title {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: #3f3f3f;
}
.arpw-alignleft {
    margin: 0px !important;
}
.arpw-block li {
    padding-bottom: 0px !important;
}
.arpw-alignleft:hover {
    background: #000;
}
.arpw-alignleft img:hover {
    opacity: 0.7;
}
.post-direction {
    width: 185px;
    color: #747474;
}
.post-direction label.lbPrev {
    float: left;
    display: inline-block;
    margin-left: 10px;
    line-height: 43px;
}
.post-direction label.lbNext {
    float: right;
    display: inline-block;
    margin-right: 10px;
    line-height: 43px;
}
.post-prev, .post-next {
    width: 25px;
    height: 43px;
    display: block;
}
.post-prev {
    float: left;
    background: url('images/prev.png') right center no-repeat;
}
.post-prev:hover {
    background: url('images/prev_hover.png') right center no-repeat;
}
.post-next {
    float: right;
    background: url('images/next.png') left center no-repeat;
}
.post-next:hover {
    background: url('images/next_hover.png') left center no-repeat;
}
.post-direction table {
    width: 100%;
}
.post-direction table td {
    vertical-align: middle;
}
.tagcloud {
    text-align: center;
}
.tagcloud a {
    font-family: 'UTM-Avo';
    color: #007ffe;
    line-height: 30px;
}
.tagcloud a:hover {
    font-family: 'UTM-Avo-Bold';
    /*font-weight: bold;*/
    color: #006edb;
}